@media only screen and (min-width: 600px) {
  .social {
     position: fixed;  
    top: 34%;
     right: 0px;
     z-index: 9999999999;
  }
}
@media only screen and (max-width: 600px) {
.social {
  position: fixed;
  right:0;
  top: 50%;
  z-index: 9999999999;
}
}


.social ul {
    list-style: none;
}
.social ul li a {
    display: inline-block;
    width: 45px;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.5s ease;
}
.social ul li .icon-whatsapp {
    background: #32bfa7;
    font-size: 19px;
    border-top-left-radius: 5px;
}
.social ul li .icon-pinterest {
    background: #BDBDBD;
    color: #000;
    font-size: 19px;
    border-bottom-left-radius: 5px;
}
.social ul li a:hover {
    padding: 10px 40px;
    background: #000;
    color: #fff;
    }
.blog-item .blog-content h4{
    height:45px;
    }
.blog-item.style-1 .blog-img .blog-event-date{
    width:92px;
    }
#surec h5{
    text-transform: capitalize;
    height:40px;
}
.about-2col .container {
    padding: 0;
}
.about-feature.style-2 .col-xs-12.col-sm-6.col-md-6.col-lg-6:first-child {
    background: #00b09a;
    height:311px;
}

.about-feature.style-2 .col-xs-12.col-sm-6.col-md-6.col-lg-6:last-child {
    background: #32bfa7;
    height:311px;
}
.about-feature.style-2 .col-xs-12.col-sm-6.col-md-6.col-lg-6 .appointment-item {
    background: transparent;
    color: #eee;
}
.about-feature.style-2 .col-xs-12.col-sm-6.col-md-6.col-lg-6 .appointment-item .btn-theme {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
}
.about-feature.style-2 .col-xs-12.col-sm-6.col-md-6.col-lg-6 .appointment-item .btn-theme>i {
    font-size: 15px;
    position: relative;
    top: 3px;
}
.about-feature.style-2 .col-xs-12.col-sm-6.col-md-6.col-lg-6 .appointment-item .btn-theme:hover {
    border: 1px solid #007EA3;
    background: #007EA3;
}
.about-feature.style-2 .col-xs-12.col-sm-6.col-md-6.col-lg-6 .appointment-item h5 a:hover {
    color: #f2f2f2;
}
.conner-style.style-2 .navbar-default .navbar-nav > li > a {
    font-size:12px;
}
/********DEMO INDEX*****************/
.about-feature.style-2 .col-xs-12.col-sm-4.col-md-4.col-lg-4:first-child {
    background: #00b09a;
    height:311px;
}
.about-feature.style-2 .col-xs-12.col-sm-4.col-md-4.col-lg-4:nth-child(2) {
    background: #32bfa7;
    height:311px;
}
.about-feature.style-2 .col-xs-12.col-sm-4.col-md-4.col-lg-4:last-child {
    background: #19b79c;
    height:311px;
}
.about-feature.style-2 .col-xs-12.col-sm-4.col-md-4.col-lg-4 .appointment-item {
    background: transparent;
    color: #eee;
}
.about-feature.style-2 .col-xs-12.col-sm-4.col-md-4.col-lg-4 .appointment-item .btn-theme {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
}
.about-feature.style-2 .col-xs-12.col-sm-4.col-md-4.col-lg-4 .appointment-item .btn-theme>i {
    font-size: 15px;
    position: relative;
    top: 3px;
}
.about-feature.style-2 .col-xs-12.col-sm-4.col-md-4.col-lg-4 .appointment-item .btn-theme:hover {
    border: 1px solid #007EA3;
    background: #007EA3;
}
.about-feature.style-2 .col-xs-12.col-sm-4.col-md-4.col-lg-4 .appointment-item h5 a:hover {
    color: #f2f2f2;
}
/*--------------------TÃ¼p Bebek SÃ¶zlÃ¼k----------------------*/
.sozluk .wrapper{
       /*max-width:800px;*/
       width:100%;
       /*margin:20px auto;*/
       /*background:gray;*/
       padding:25px 15px 15px 15px;
       border-radius:5px;
   }
   .wrapper nav{
       position:relative;
       height:50px;
       width:100%;
       display:flex;
       align-items:center;
   }
   .wrapper nav label{
       display:block;
       height:100%;
       width:100%;
       text-align:center;
       line-height:50px;
       cursor:pointer;
       color:#32bfa7;
       font-size:17px;
       position:relative;
       z-index:1;
       transition: all 0.3s ease;
   }
    #aharfi:checked ~ nav label.aharfi{
       color:#fff;
    }
    #bharfi:checked ~ nav label.bharfi{
       color:#fff;
    }
    #charfi:checked ~ nav label.charfi{
       color:#fff;
    }
    #harf0:checked ~ nav label.harf0{
       color:#fff;
    }
    #dharfi:checked ~ nav label.dharfi{
       color:#fff;
    }
    #eharfi:checked ~ nav label.eharfi{
       color:#fff;
    }
    #fharfi:checked ~ nav label.fharfi{
       color:#fff;
    }
    #gharfi:checked ~ nav label.gharfi{
       color:#fff;
    }
    #hharfi:checked ~ nav label.hharfi{
       color:#fff;
    }
    #harf1:checked ~ nav label.harf1{
       color:#fff;
    }
    #iharfi:checked ~ nav label.iharfi{
       color:#fff;
    }
    #jharfi:checked ~ nav label.jharfi{
       color:#fff;
    }
    #kharfi:checked ~ nav label.kharfi{
       color:#fff;
    }
    #lharfi:checked ~ nav label.lharfi{
       color:#fff;
    }
    #mharfi:checked ~ nav label.mharfi{
       color:#fff;
    }
    #nharfi:checked ~ nav label.nharfi{
       color:#fff;
    }
    #oharfi:checked ~ nav label.oharfi{
       color:#fff;
    }
    #harf2:checked ~ nav label.harf2{
       color:#fff;
    }
    #pharfi:checked ~ nav label.pharfi{
       color:#fff;
    }
    #rharfi:checked ~ nav label.rharfi{
       color:#fff;
    }
    #sharfi:checked ~ nav label.sharfi{
       color:#fff;
    }
    #harf3:checked ~ nav label.harf3{
       color:#fff;
    }
    #tharfi:checked ~ nav label.tharfi{
       color:#fff;
    }
    #uharfi:checked ~ nav label.uharfi{
       color:#fff;
    }
    #harf4:checked ~ nav label.harf4{
       color:#fff;
    }
    #vharfi:checked ~ nav label.vharfi{
       color:#fff;
    }
    #yharfi:checked ~ nav label.yharfi{
       color:#fff;
    }
    #zharfi:checked ~ nav label.zharfi{
       color:#fff;
    }
    #xharfi:checked ~ nav label.xharfi{
       color:#fff;
    }
    input[type="radio"]{
        display:none;
    }
   .wrapper nav .slider{
       position:absolute;
       height:100%;
       width:3.2%;
       background:#32bfa7;
       border-radius:5px;
       z-index:0;
       bottom:0;
       transition: all 0.3s ease;
   }
   
    #bharfi:checked ~ nav .slider{
       left:3.5%;
    }
    #charfi:checked ~ nav .slider{
       left:7%;
    }
    #harf0:checked ~ nav .slider{
       left:10.5%;
    }
    #dharfi:checked ~ nav .slider{
       left:14%;
    }
    #eharfi:checked ~ nav .slider{
       left:17.5%;
    }
    #fharfi:checked ~ nav .slider{
       left:20.7%;
    }
    #gharfi:checked ~ nav .slider{
       left:24.2%;
    }
    #hharfi:checked ~ nav .slider{
       left:27.7%;
    }
    #harf1:checked ~ nav .slider{
       left:31%;
    }
    #iharfi:checked ~ nav .slider{
       left:34.5%;
    }
    #jharfi:checked ~ nav .slider{
       left:38%;
    }
    #kharfi:checked ~ nav .slider{
       left:41.5%;
    }
    #lharfi:checked ~ nav .slider{
       left:45%;
    }
    #mharfi:checked ~ nav .slider{
       left:48.5%;
    }
    #nharfi:checked ~ nav .slider{
       left:52%;
    }
    #oharfi:checked ~ nav .slider{
       left:55.2%;
    }
    #harf2:checked ~ nav .slider{
       left:58.7%;
    }
    #pharfi:checked ~ nav .slider{
       left:62.2%;
    }
    #rharfi:checked ~ nav .slider{
       left:65.7%;
    }
    #sharfi:checked ~ nav .slider{
       left:69.2%;
    }
    #harf3:checked ~ nav .slider{
       left:72.7%;
    }
    #tharfi:checked ~ nav .slider{
       left:76%;
    }
    #uharfi:checked ~ nav .slider{
       left:79.5%;
    }
    #harf4:checked ~ nav .slider{
       left:83%;
    }
    #vharfi:checked ~ nav .slider{
       left:86.5%;
    }
    #yharfi:checked ~ nav .slider{
       left:89.8%;
    }
    #zharfi:checked ~ nav .slider{
       left:93.2%;
    }
    #xharfi:checked ~ nav .slider{
       left:96.8%;
    }
   
    .sozluk section .content {
        display:none;
        
    }
    #aharfi:checked ~ section .content-1,
    #bharfi:checked ~ section .content-2,
    #charfi:checked ~ section .content-3,
    #harf0:checked ~ section .content-28,
    #dharfi:checked ~ section .content-4,
    #eharfi:checked ~ section .content-5,
    #fharfi:checked ~ section .content-6,
    #gharfi:checked ~ section .content-7,
    #hharfi:checked ~ section .content-8,
    #harf1:checked ~ section .content-9,
    #iharfi:checked ~ section .content-10,
    #jharfi:checked ~ section .content-11,
    #kharfi:checked ~ section .content-12,
    #lharfi:checked ~ section .content-13,
    #mharfi:checked ~ section .content-14,
    #nharfi:checked ~ section .content-15,
    #oharfi:checked ~ section .content-16,
    #harf2:checked ~ section .content-17,
    #pharfi:checked ~ section .content-18,
    #rharfi:checked ~ section .content-19,
    #sharfi:checked ~ section .content-20,
    #harf3:checked ~ section .content-21,
    #tharfi:checked ~ section .content-22,
    #uharfi:checked ~ section .content-23,
    #harf4:checked ~ section .content-24,
    #vharfi:checked ~ section .content-25,
    #yharfi:checked ~ section .content-26,
    #zharfi:checked ~ section .content-27,
    #xharfi:checked ~ section .content-29
    {
       display:block;
    }
    .sozluk section .content .title{
        font-size:21px;
        font-weight:bold;
        margin:30px 0 10px 0;
        
    }
     @media only screen and (max-width: 600px) {
        
    .sozluk .wrapper {
         padding:0px 0px 0px 0px;
         margin-left:0;
         margin-top:20px;
    }
    .wrapper nav label{
        font-size:11px;
        padding-right:5px;
    }
        
    #bharfi:checked ~ nav .slider{
       left:4%;
    }
    #charfi:checked ~ nav .slider{
       left:8.2%;
    }
    #harf0:checked ~ nav .slider{
       left:12.5%;
    }
    #dharfi:checked ~ nav .slider{
       left:17%;
    }
    #eharfi:checked ~ nav .slider{
       left:21.5%;
    }
    #fharfi:checked ~ nav .slider{
       left:25%;
    }
    #gharfi:checked ~ nav .slider{
       left:29.5%;
    }
    #hharfi:checked ~ nav .slider{
       left:34%;
    }
    #harf1:checked ~ nav .slider{
       left:38%;
    }
    #iharfi:checked ~ nav .slider{
       left:40.2%;
    }
    #jharfi:checked ~ nav .slider{
       left:44%;
    }
    #kharfi:checked ~ nav .slider{
       left:47.8%;
    }
    #lharfi:checked ~ nav .slider{
       left:52%;
    }
    #mharfi:checked ~ nav .slider{
       left:56%;
    }
    #nharfi:checked ~ nav .slider{
       left:60.8%;
    }
    #oharfi:checked ~ nav .slider{
       left:65.5%;
    }
    #harf2:checked ~ nav .slider{
       left:70%;
    }
    #pharfi:checked ~ nav .slider{
       left:74.3%;
    }
    #rharfi:checked ~ nav .slider{
       left:78.5%;
    }
    #sharfi:checked ~ nav .slider{
       left:82.5%;
    }
    #harf3:checked ~ nav .slider{
       left:86.6%;
    }
    #tharfi:checked ~ nav .slider{
       left:91%;
    }
    #uharfi:checked ~ nav .slider{
       left:95.1%;
    }
    #harf4:checked ~ nav .slider{
       left:99.7%;
    }
    #vharfi:checked ~ nav .slider{
       left:104.5%;
    }
    #yharfi:checked ~ nav .slider{
       left:108.5%;
    }
    #zharfi:checked ~ nav .slider{
       left:113%;
    }
    #xharfi:checked ~ nav .slider{
       left:117%;
    }
}
