# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual env
venv/
env/
.env
.venv/

# Flask / SQLite
instance/
database/*.db
*.db
*.sqlite3

# Uploads (keep folder, ignore files)
admin/static/uploads/*
!admin/static/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
